@model IEnumerable<CodingWebsite.Models.Questions>

@{
    ViewData["Title"] = "List of questions for student";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div >

<h1>List Of Questions</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.QuestionHeading)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Input1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Input3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Output3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheAnswer)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.FinalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Difficulty)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.StartedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedCount)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.TeacherId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.QuestionHeading)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Input1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Input2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Input3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Output3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheAnswer)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.FinalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.StartedCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedCount)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>*@
            <td>
@*                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
*@                
@*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
*@
<a class="nav-link text-blue" asp-area="" asp-controller="Answers" asp-action="QidAnswer" asp-route-id="@item.Id">Answer</a>

@*                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
*@            </td>
        </tr>
}
    </tbody>
</table>
</div>