@model CodingWebsite.ViewModels.QuestionAns
@{
ViewData["Title"] = "QidAnswer";
Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

   <style type="text/css" media="screen">
      
      #save{
      position: absolute;
      top: 630px;
      right: 0;
      bottom: 0;
      left:850px;
      }
      



      
   </style>

   <div>
<h2>The Question</h2>
    </div>

<div>
    <h3>@Model.TheQuestion</h3>
</div>
<div id="editor" style="height:500px;width:500px;">  @Model.SAnswer   </div>
@if (@Model.error != null)
{
    <br />
    

     <div >
        <h2 class="red-text" color=red;>Error</h2>
    </div>
    <div>@Model.error</div>
}

 <form  action="/Answers/RunQidAnswer" method="post" >
     <input type="hidden" name="SAnswer" id="hidAnswer1" />
          <input type="hidden" name="TheQuestion" id="TheQuestion" value="@Model.TheQuestion"/>
               <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                    <input type="hidden" name="language" id="language" value="@Model.language"/>
                         <input type="hidden" name="versionIndex" id="versionIndex" value="@Model.versionIndex"/>
                              <input type="hidden" name="QuesId" id="QuesId" value="@Model.QuesId"/>
                                   <input type="hidden" name="StudId" id="StudId" value="@Model.StudId"/>
                                   <input type="hidden" name="CreatedAt" id="CreatedAt" value="@Model.CreatedAt"/>
                                   <br />
     <button type="submit" class="btn btn-primary" onclick="fn1()" id="runcode">Run</button>
       
 </form>
 <form  action="/Answers/SaveQidAnswer" method="post" >
     <input type="hidden" name="SAnswer" id="hidAnswer2" />
        <input type="hidden" name="TheQuestion" id="TheQuestion" value="@Model.TheQuestion"/>
               <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                    <input type="hidden" name="language" id="language" value="@Model.language"/>
                         <input type="hidden" name="versionIndex" id="versionIndex" value="@Model.versionIndex"/>
                              <input type="hidden" name="QuesId" id="QuesId" value="@Model.QuesId"/>
                                   <input type="hidden" name="StudId" id="StudId" value="@Model.StudId"/>
                                   <input type="hidden" name="CreatedAt" id="CreatedAt" value="@Model.CreatedAt"/>   
                                   <br />
     <button type="submit" class="btn btn-primary" onclick="fn1()">Save</button>
       
 </form>
 <br/>

    
   <script src="~/js/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
   <script>
      var editor = ace.edit("editor");
     
      editor.setTheme("ace/theme/monokai");
      editor.session.setMode("ace/mode/java");
      // pass options to ace.edit
      
        function fn1(){
            console.log('in the fntn');
            $("#hidAnswer1").val(editor.getSession().getValue());
            $("#hidAnswer2").val(editor.getSession().getValue());
        }
   </script>

  

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
